.signinScreen {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  max-width: 300px;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}
.signinScreen > form > h1 {
  margin-bottom: 20px;
  text-align: left;
}
.signinScreen > form {
  display: flex;
  flex-direction: column;
}
.signinScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.signinScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}
.signinScreen > form > h4 {
  text-align: left;
}
.signinScreen__gray {
  color: gray;
}
.signinScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .signinScreen {
    padding: 40px;
  }
  .signinScreen > form > h1 {
    font-size: 1.7rem;
  }
  .signinScreen > form > h4 {
    font-size: smaller;
  }
}
@media screen and (max-width: 400px) {
  .signinScreen {
    padding: 30px;
  }
  .signinScreen > form > h1 {
    font-size: 1.5rem;
  }
}
