.banner {
  position: relative;
  height: 450px;
  object-fit: contain;
  color: white;
  margin-bottom: 30px;
}
.banner__contents {
  margin-left: 30px;
  padding-top: 190px;
  height: 190px;
}
.banner__title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  font-weight: 500;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 80px;
}
.banner--fadeBottom {
  height: 4.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}
.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

/* Media Queries */
@media screen and (max-width: 450px) {
  .banner {
    height: 350px;
  }
  .banner__contents {
    padding-top: 150px;
    height: 190px;
  }
  .banner__title {
    font-size: 2.6rem;
  }
  .banner__description {
    font-size: 0.8rem;
  }
  .banner--fadeBottom {
    height: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .banner__contents {
    margin-left: 15px;
    padding-top: 130px;
  }
  .banner__title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .banner__description {
    width: 95%;
    font-size: 0.8rem;
  }
  .banner--fadeBottom {
    height: 2rem;
  }
}

@media screen and (max-width: 260px) {
  .banner__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .banner__description {
    width: 95%;
    font-size: 0.8rem;
    letter-spacing: 1.1;
  }
  .banner--fadeBottom {
    height: 2rem;
  }
  .banner__button {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
