.plans > h5 {
  padding-left: 20px;
  padding-top: 20px;
  opacity: 0.8;
}
.plans {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: flex-start; */
}
.plans__info {
  padding: 20px;
  opacity: 0.8;
  cursor: pointer;
}
.plans__info:hover {
  opacity: 1;
}
.plans__button {
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.plans__button:disabled {
  background-color: rgb(150, 146, 140);
  color: black;
  cursor: not-allowed;
}

/* Media Queries */
@media screen and (max-width: 450px) {
  .plans__button {
    padding: 3px 12px;
    font-size: 0.9rem;
  }
  .plans__button:disabled {
    background-color: blanchedalmond;
    color: black;
    cursor: not-allowed;
  }
}
